h2 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

#p1 {
    font-size: 18px;
    text-align: center;
}

#p2 {
    text-align: center;
    font-size: 21px;
    font-weight: bold;
}

#p3 {
    font-size: 18px;
    color: gold;
    text-align: center;
}

h3 {
    font-size: 30px;
    margin: auto;
    text-align: center;
    color: red;
}

span {
    color: gold;
    font-size: 20px;
    margin: auto;
    font-weight: bold;
}

#center {
    text-align: center;
}

* {
    background-color: black;
    color: white;
}

.HowToCreateAMovie {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

#ChangeMovie, #CreateMovie1, #CreateMovie2, #CreateMovie3, #CreateButton, #ChangeButton {
    font-size: 24px;
}

#highStar {
    font-size: 20px;
}

h4 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: blue;
}